body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    overflow:hidden;
    background-color: #FBF9F9;
}
#second-block{
    background-color: #FFFFFF;
    height: 600px;
    border-radius: 20px;
    width: 500px;
    
}#first-block{
    position:relative;
    height: 600px;
    left:2.5%
}

#logout-button{
    background-color: #FBF9F9;
    color: #8692A6;
    width:70%;
    height:50px;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
}


