body {
    overflow-y: auto;
}

#second-block {
    height: max-content;
}

#home-button {
    background-color: #FBF9F9;
    color: #8692A6;
    width: 70%;
    height: 50px;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#profile-button {
    background-color: #FBF9F9;
    color: #8692A6;
    width: 70%;
    height: 50px;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 20px 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home {
    height: 10%;
    width: 70%;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    opacity: 0.6;
    margin-left: 2%;
}

#undertext {
    font-size: 15px;
}

#package_list {
    height: 10%;
    width: 100%;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    opacity: 0.6;
    margin-left: 2%;

}

table {
    border-collapse: collapse;
    background-color: #F6F6F6;
    border-radius: 30px;
    width: 80%;
    margin-bottom: 20px;
}

table td {
    border-left: 1px solid black;

    text-align: center;

}

table td:first-child {
    border-left: none;

}

table th {
    border-left: 1px solid black;
}

table th:first-child {
    border-left: none;
}

table td:last-child {
    border-left: none;
}

table tr {
    border-bottom: 1px solid black;
}

table tr:first-child {
    border-bottom: none;
}

table tr:last-child {
    border-bottom: none;
}

.select_button {
    background-color: #8692A6;
    color: #FBF9F9;
    width: 100px;
    height: 30px;
    font-size: 20px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    margin: 5px 5px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.ordinary_row {
    height: 10px;
}